<div class="hero">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between ">
            <div class="intro-excerpt align-items-center">
                <h2>Furniture</h2>
            </div>
            <div class="search mt-3 mt-md-0">
                <div class="filter-section input-group">
                    <input type="text" class="form-control" placeholder="Search Product" [(ngModel)]="filterText">
                    <button class="btn" (click)="onSearch()">
                        <i class="bi bi-search" style="color: #3b5d50;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>





<app-product-section [filterText]="search"></app-product-section>