<footer class="bg-dark text-light py-3">
    <div class="container">
        <div class="row">
            <!-- About BuyFurn -->
            <div class="col-md-4">
                <a class="navbar-brand text-light fs-2 fw-bold" routerLink="">BuyFurn<span
                        class="text-warning">.</span></a>
                <p>
                    Explore BuyFurn for quality, comfortable furniture that blends style and functionality from modern
                    designs to timeless classics. Transform your space with elegance today.

                </p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/" class="text-light">Home</a></li>
                    <li><a routerLink="/furniture" class="text-light">Furniture</a></li>
                    <!-- <li><a href="/about" class="text-light">About Us</a></li> -->
                    <li><a routerLink="/contact" class="text-light">Contact Us</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="col-md-5 contact-info">
                <h5>Contact Us</h5>
                <p><i class="fas fa-envelope"></i><a href="mailto:buyfurn@gmail.com" class="text-light">
                        buyfurn&#64;gmail.com</a></p>
                <p><i class="fas fa-phone"></i><a href="tel:+129439253939" class="text-light"> +1 294 3925 3939</a></p>
                <p><i class="fas fa-map-marker-alt"></i>
                    <a href="https://www.google.com/maps/search/?api=1&query=123+Raymouth+Rd+Baltemoer+Vasad+388306"
                        target="_blank" class="text-light">
                        123 Raymouth Rd. Baltemoer, Vasad 388306
                    </a>
                </p>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p>&copy; {{currentYear}} BuyFurn. All rights reserved.</p>
        </div>
    </div>
</footer>